@font-face {
    font-family: "Blocus";
    src: url("../blocuswebfont.woff") format("woff");
}

@font-face {
    font-family: "Sporting Grotesque";
    src: url("../Sporting_Grotesque-Regular_web.woff2") format("woff2");
} 

* {
    cursor: url("../cursor.png");

  }

.mainBody{
    background-color: red;
} 

.about{
    background-color: red;
    height: 100vh;
} 

.submissionform{
    background-color: red;
    height: 100vh;
} 


.navLink {
    font-family: "Blocus";
    font-size: 10vh;
    padding-left: 5vw;
    padding-right: 40px;
    text-decoration: none;
    color: black;
}

.navLink:hover {
    text-decoration: none;
    color: white;
}


.myList {
    display: flex;
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    align-items: center;
}

.adviceSection {
    position: relative;
    padding-left: 100px;
    
    
}

.sBox {
    
    height: 300px;
    width: 500px;
    border: 5px solid black;
    font-family: "Sporting Grotesque";
    border-radius: 25px;
    margin: 40px;
    
}

.sBox:hover{
    border: 10px solid white;
    color: white;
}

.sBox.nature:hover{
    border: 10px solid white;
    color: lightgreen;
}

.sBox.games:hover{
    border: 10px solid white;
    color:violet;
}

.sBox.food:hover{
    border: 10px solid orange;
    color: white;
}

.adviceContent {
    margin: 10px;

}

.locationContent {
    margin: 10px;
    padding-top: 200px;
    position: absolute;
    float: left;

}

.tagContent {
    margin: 10px;
    padding-top: 200px;
    padding-left: 300px;
    position: absolute;
    float: right;
}

.about {
    padding: 100px;
    
}

.h2 {
    font-family: Blocus;
    text-decoration: none;
    color: black;
    padding: 400px;
    margin: 400px;
}

.submissionform {
    display: inline-block;
    padding-left: 25vw;
    width: 75%;
}

.adviceText {
    padding: 12px;
    margin: 10px 20px 10px 20px;
    height: 200px;
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

.adviceText:focus {
    outline: none;
    border: 2px solid black;
}

.input {
    padding: 12px;
    margin: 10px 20px 10px 20px;
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

.input:focus {
    outline: none;
    border: 2px solid white;
}

.submitButton {
    background-color: red;
    padding: 10px 24px;
    margin: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 4px;

}

.submitButton:hover {
    outline: none;
    border: 2px solid white;
    color: white;
}